services:
  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    expose:
      - 6379
    networks:
      - backend_network

  backend:
    container_name: backend
    build:
      context: ./
      dockerfile: dockerfile.backend
    image: backend:latest
    restart: unless-stopped
    expose:
      - 8000
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    environment:
      - REDIS_HOST=redis     
      - REDIS_PORT=6379
      # - AUTH_DB_HOST=host.docker.internal  # TODO: uncomment if used docker
    networks:
      - backend_network

networks:
  backend_network:
    driver: bridge
    